body{
    background-color: black;
    display: flex;
    flex-direction: column;
}
#pokemon-img{
    color: white;
    height: 200px;
    width: 200px;
}

#header{
    display: flex;
    flex-direction: column;
}
#poko-name{
    padding-right: 10px;
    padding-left: 10px;
    background-color: white;
    border-radius: 15px;
    align-self: center;

}
#search-pokemon{
    align-self: center;
}
#main{
    display: flex ;
    justify-content: center;
}

#ex-pokemon{
    align-self: center;
    width: 100px;
    height: 30px;
    border: none;
    outline: none;
    margin-top: 100px;
    background-color: white;
    border-radius: 20px;
    cursor: pointer;
}
#next-pokemon{
    align-self: center;
    width: 100px;
    height: 30px;
    border: none;
    outline: none;
    margin-top: 100px;
    background-color: white;
    border-radius: 20px;
    cursor: pointer;
}
#pokemon-box{
    margin-top: 100px;
    width: 30vw;

    display: flex;
    align-self: center;

}
#pokemon-info{
    color: white;
    align-self:center ;
}